<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolyzer</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <!-- JavaScript Bundle with Popper -->

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<!-- <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

    *,
    :after,
    :before {
        margin: 0;
        padding: 0;
    }

    html {
        margin: 0;
        padding: 0;
        background-color: rgb(230, 246, 255);
        font-size: 62.5%;
    }

    :root {
        --clr-black: #010334;
    }

    body {
        /* background-color: #f5fbff; */
        background-color: rgb(230, 246, 255);
        font-family: 'Poppins', sans-serif;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    button {
        border: none;
        background-color: rgba(0, 0, 0, 0);
    }

    /* Hero */

    .head {
        margin-bottom: 2.5rem;
        font-size: 4.8rem;
        color: var(--clr-black);
    }



    .hero-btn {
        margin-top: 3rem;
        width: 100%;
    }

    .hero-btn a {
        width: 100%;
        padding: 11.2px 25px 10.8px;
        border-radius: 4rem;
        font-size: 1.4rem;
        background-color: #c6e9e5;
        color: #4c9e9e;
        font-weight: 500;
    }

    .hero-btn2 button {
        display: inline;
        padding: 11.2px 25px 10.8px;
        border-radius: 4rem;
        font-size: 1.4rem;
        background-color: #c6cde9;
        color: #5e4c9e;
        font-weight: 500;
    }


    .hero-btn2 {
        margin-top: 3rem;
        width: 100%;
    }

    .hero-btn2:hover {
        /* border: solid 1px purple; */
        text-decoration: underline;
    }

    .hero-btn:hover {
        /* border: solid 1px purple; */
        text-decoration: underline;
    }


    .head {
        margin-bottom: 2.5rem;
        font-size: 4.8rem;
        color: var(--clr-black);
    }

    #primary {
        padding-top: 8rem;

    }

    main {
        background-color: rgb(255, 255, 255);
        border-radius: 25px;
        padding: 26px;
    }
</style>

<body>
    <div class="header-in">
        <div class="navbar-in">
            <div class="logo-in">
                <a href="/"><img src="/uploads/logo.png" alt=""></a>
            </div>
            <div id="menu-icon" class="menu-icon"><img id="ham-img" src="uploads/icon-hamburger.svg" alt=""></div>
            <div class="nav-links">
                <div class="nav-link">
                    <a href="/">Home</a>
                </div>
                <div class="nav-link">
                    <a href="/about">About</span>
                </div>
                <div class="nav-link">
                    <a href="/contact">Contact</a>
                </div>
            </div>
            <div class="nav-user">
                <div class="nav-link">
                    <a href="/users/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

        <!-- <form action="/" method="POST" enctype="multipart/form-data">
    
        <div class="new_user">
            <div class="form-group">
                <label for="name" class="text-light">Name</label>
                <input type="text" name="name" placeholder="Google"
    
                <% if (edit) {%>
                    value="<%= detail.name %>"
                <%} else {%>
                    value=""
                <% } %>
                
                >
            </div>
            <div class="form-group">
                <label for="about" class="text-light">about</label>
                <input type="about" name="about" placeholder="short info"
                
                <% if (edit) {%>
                    value="<%= detail.about %>"
                <%} else {%>
                    value=""
                <% } %>
                
                
                >
            </div>
            <div class="form-group">
                <label for="emails" class="text-light">email (use comma as separator to add multiple)</label>
                <input type="emails" name="emails" placeholder="email"
                
                <% if (edit) {%>
                    value="<%= detail.emails %>"
                <%} else {%>
                    value=""
                <% } %>
    
                >
            </div>
            <div class="form-group">
                <label for="projects" class="text-light">project link (use comma as separator to add links)</label>
                <input type="projects" name="projects" placeholder="project link"
                
                <% if (edit) {%>
                    value="<%= detail.projects %>"
                <%} else {%>
                    value=""
                <% } %>
    
                >
            </div>
            <div class="form-group">
                <label for="image" class="text-light">Your Image</label>
                <input type="file" name = "profile_pic" id = "profile_pic" required>
        
            </div>
            <div class="form-group">
                <button type="submit" class="btn text-dark update">Save</button>
            </div>
     
        </div>
    </form> -->

        <div class="container" id="primary">
            <main>
                <div class="py-5 text-center">
                    <!-- <img class="d-block mx-auto mb-4" src="images/thumb.jpg" alt="" width="72" height="57"> -->
                    <h2>
                        <% if (edit) { %>
                            Edit your intro
                        <% } else { %>
                            Add your intro
                        <% } %>
                    </h2>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint quo eaque quis ipsa
                        accusantium quas aut similique nemo illum, sapiente minus iusto expedita nulla minima
                        dignissimos obcaecati? Sequi aliquam numquam assumenda omnis? Consequatur, facilis.</p>
                </div>

                <div class="row g-5">
                    <div class="col-md-7 col-lg-8">
                        <h4 class="mb-3">user form</h4>
                        <form class="needs-validation work-form" novalidate="" action="/" method="POST"
                            enctype="multipart/form-data">
                            <div class="row g-3 new_user">
                                <div class="col-sm-6">
                                    <label for="name" class="form-label">name</label>
                                    <input type="name" class="form-control" required name="name" id="name" placeholder="Google"
                                        <% if (edit) { %>
                                            value="<%= detail.name %>"
                                        <% } else { %>
                                            value=""
                                        <% } %>
                                    >
                                </div>

                                <div class="col-12">
                                    <label for="about" class="form-label">about</label>
                                    <div class="input-group has-validation">
                                        <input type="text" class="form-control" required name="about" id="about" placeholder="about"
                                            required="" 
                                            <% if (edit) { %>
                                                value="<%= detail.about %>"
                                            <% } else { %>
                                                value=""
                                            <% } %>
                                        >
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="emails" class="form-control" id="email" required placeholder="you@example.com"
                                        name="emails" 
                                        <% if (edit) {%>
                                            value="<%= detail.emails %>"
                                        <%} else {%>
                                            value=""
                                        <% } %>
                                        >
                                </div>

                                <div class="col-12">
                                    <label for="projects" class="form-label">projects</label>
                                    <input type="text" class="form-control" id="address" placeholder="project"
                                        required name="projects" 
                                        <% if (edit) {%>
                                            value="<%= detail.projects %>"
                                        <%} else {%>
                                            value=""
                                        <% } %>
                                    >
                                </div>

                                <div class="col-12">
                                    <label for="profile_pic" class="form-label">Profile</label>
                                    <input type="file" name="profile_pic" id="profile_pic" required>
                                </div>

                            </div>

                            <hr class="my-4">
                            <div class="hero-btn2">
                                <button type="submit">Submit</button>
                            </div>
                            <div class="hero-btn">
                                <a href="/final">Reset</a>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
            <footer class="my-5 pt-5 text-muted text-center text-small">
                <p class="mb-1">© 2017–2021 Company Name</p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Privacy</a></li>
                    <li class="list-inline-item"><a href="#">Terms</a></li>
                    <li class="list-inline-item"><a href="#">Support</a></li>
                </ul>
            </footer>
        </div>
</body>
</html>